body {
    font-family: 'Lato';
    font-size: 1.4rem;
}

h1 {
    font-family: 'Fredoka One';
    font-weight: 400;
}

.center {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}


.board-wrapper {
    margin: 1rem auto;
    position: relative;
    width: 150px;
    height: 150px;
}

#board {
    --board-size: 0;

    display: grid;
    height: 100%;
    width: 100%;
    border: solid 1px black;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
}

.board-wrapper #board-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.1rem;
}

.tile {
    font-family: 'Fredoka One';
    font-size: 2rem;
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    cursor: pointer;
}

.tile.submitted {
    background-color: rgb(189, 189, 189);
    cursor: default;
}